/* event */
.event {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 94dvh;
    overflow: hidden;
}

.home-btn {
    position: absolute;
    width: fit-content;
    height: fit-content;
    inset: 0;
    padding: 2rem 2rem;
    transition: scale .1s ease-in;
}

.home-btn:hover {
    scale: 1.15;
}

.icon-home {
    width: 35px;
    height: 35px;
}

.event-teks {
    font-family: var(--font-display1);
    font-size: clamp(2.5rem, 6svw, 6svw);
    color: #edefef;
    position: fixed;
}

.event::before {
    content: "";
    position: fixed;
    inset: 0;
    filter: contrast(.8);
    opacity: 0.5;
    animation: fadeIn 1s ease-in-out;
    background-image: url(Asset/mpls-foto.JPG);
    background-size: cover;
    background-position: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

/* arrow */
.arrow {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 2svh;
    margin: auto;
    animation: arrow-loop 3s ease infinite;
}

@keyframes arrow-loop {

    0%,
    100% {
        translate: 0 -25px;
    }

    50% {
        translate: 0 10px;
    }
}

/* koleksi */
.title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.5rem;
    color: #edefef;
    width: 95%;
    border-bottom: var(--pemisah);
}

.koleksi-container {
    background-color: rgba(54, 54, 54, 0.508);
    backdrop-filter: blur(10px);

    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 1%,
            rgba(0, 0, 0, 1) 100%);

    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 1%,
            rgba(0, 0, 0, 1) 100%);
}

@media(320px <=width <768px) {
    .home-btn {
        padding: 1rem 1rem;
    }

    .icon-home {
        width: 25px;
        height: 25px;
    }
}