@font-face {
    font-family: pixelify;
    src: url(PixelifySans-VariableFont_wght.ttf);

}

:root {
    --font-dasar: "poppins";
    --background-color: rgb(245, 245, 245);
    --background-color2: rgb(122, 191, 205);
    --border-estetik: 2px rgb(93, 93, 93) solid;
    --warna-list: rgb(206, 206, 206);
    --warna-hitam-dasar: rgb(54, 54, 54);
    --warna-abu-coret: rgb(107, 107, 107);
    --border-button: 2px rgb(30, 30, 30) solid;
    --warna-hamburger: rgb(41, 41, 41);
    --warna-hitung: rgb(77, 77, 77);
    --warna-button: rgb(41, 41, 41);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-dasar);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    image-rendering: -webkit-optimize-contrast;
}

/* container */
.container {
    width: 100%;
    height: 100dvh;
    background-color: red;
}

/* navbar */
.navbar {
    width: 100%;
    height: 10dvh;
    background-color: blue;
}

/* hero */
.container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70dvh;
}

/* group */
.group {
    display: flex;
    justify-content: center;
    gap: 0px;
    width: 100%;
    height: 50dvh;
    background-color: green;
    overflow: hidden;
}

.column-group {
    width: 250px;
    height: 300px;
    margin: 50px;
    margin-top: 60px;
    background-color: purple;
}

/* koleksi */
.koleksi {
    width: 100%;
    height: 100dvh;
}