@font-face {
    font-family: montserrat-regular;
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(Montserrat-Thin.ttf);
}

@font-face {
    font-family: perfectlynineties-regular;
    src: url(PerfectlyNineties-Regular.ttf);
}

@font-face {
    font-family: perfectlynineties-regular-italic;
    src: url(PerfectlyNineties-RegularItalic.ttf);
}

@font-face {
    font-family: perfectlynineties-bold-italic;
    src: url();
}

:root {
    --font-dasar: "montserrat-regular";
    --font-display1: "perfectlynineties-regular";
    --navbar-color: rgb(54, 54, 54);
    --background-color: rgb(54, 54, 54);
    --background-color2: rgb(217, 217, 217);
    --border-estetik: 2px rgb(93, 93, 93) solid;
    --warna-list: rgb(206, 206, 206);
    --warna-hitam-dasar: rgb(54, 54, 54);
    --warna-abu-coret: rgb(107, 107, 107);
    --border-button: 2px rgb(30, 30, 30) solid;
    --warna-hamburger: rgb(41, 41, 41);
    --warna-hitung: rgb(77, 77, 77);
    --warna-button: rgb(41, 41, 41);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-dasar);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    image-rendering: optimizeQuality;
}

/* container */
.container {
    width: 100%;
    height: 300dvh;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 15dvh;
    padding: 0 2rem;
    color: #edefef;
    background-color: var(--navbar-color);
}

#logo {
    width: 50px;
    height: 50px;
}

#nama {
    text-align: center;
}

.list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.link {
    display: block;
    padding: 1rem;
    font-family: montserrat-regular;
    letter-spacing: -1px;
    color: rgb(137, 137, 137);
    text-decoration: none;
}

.bagi {
    height: fit-content;
    width: 33.3%;
}

/* hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100dvh;
    background-color: var(--background-color2);
}

#hero-teks {
    font-family: var(--font-display1);
    font-size: 5rem;
    color: #212121;
}

/* group */
.group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    background-color: green;
}

.column-group {
    width: 250px;
    height: 300px;
    background-color: purple;
}

/* koleksi */
.koleksi {
    width: 100%;
    height: 100dvh;
}