@font-face {
    font-family: montserrat-regular;
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(Montserrat-Thin.ttf);
}

@font-face {
    font-family: perfectlynineties-regular;
    src: url(PerfectlyNineties-Regular.ttf);
}

@font-face {
    font-family: perfectlynineties-regular-italic;
    src: url(PerfectlyNineties-RegularItalic.ttf);
}

@font-face {
    font-family: perfectlynineties-bold-italic;
    src: url(PerfectlyNineties-BoldItalic.ttf);
}

:root {
    --font-dasar: "montserrat-regular";
    --font-display1: "perfectlynineties-regular";
    --navbar-color: rgba(54, 54, 54, 0.548);
    --warna-npc: rgba(237, 239, 239, 0.537);
    --warna-npc2: rgba(0, 0, 0, 0.537);
    --background-color: rgb(54, 54, 54);
    --background-color2: rgb(33, 33, 33);
    --border-estetik: 2px rgb(93, 93, 93) solid;
    --warna-list: rgb(206, 206, 206);
    --warna-hitam-dasar: rgb(54, 54, 54);
    --warna-abu-coret: rgb(107, 107, 107);
    --border-button: 2px rgb(30, 30, 30) solid;
    --warna-hamburger: rgb(41, 41, 41);
    --warna-hitung: rgb(77, 77, 77);
    --warna-button: rgb(41, 41, 41);
    --pemisah: 1px solid #edefef22;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-dasar);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    image-rendering: optimizeQuality;
}

body {
    background-color: var(--background-color2);
}

/* container */
.container {
    width: 100%;
    height: 300dvh;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 12dvh;
    padding: 0 2rem;
    color: #edefef;
    background-color: var(--navbar-color);
    backdrop-filter: blur(10px);
    border-bottom: var(--pemisah);
    z-index: 999;
}

#logo {
    width: 50px;
    height: 50px;
}

#nama {
    font-family: var(--font-display1);
    text-align: center;
    white-space: nowrap;
}

.list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    animation-delay: .2s;
}

#list1 {
    animation-delay: .2s;
}

#list2 {
    animation-delay: .6s;
}

#list3 {
    animation-delay: .8s;
}

.link {
    display: block;
    padding: 1rem;
    font-size: clamp(.6rem, 1svw, 1svw);
    font-family: montserrat-regular;
    letter-spacing: -1px;
    color: var(--warna-npc);
    text-decoration: none;
}

.bagi {
    height: fit-content;
    width: 33.3%;
}

/* hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100dvh;
    background-color: var(--background-color2);
}

#hero-teks2 {
    font-family: montserrat-thin;
    font-size: clamp(.7rem, 1.2svw, 1.5svw);
    color: #edefef89;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    animation-delay: .2s;
}

#hero-teks {
    font-family: var(--font-display1);
    font-size: clamp(2rem, 6svw, 6svw);
    color: #edefef;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    animation-delay: .4s;
}

#hero-button {
    padding: 2.2cqh 2cqw;
    font-size: clamp(0.6rem, 1cqw, 1.2rem);
    margin: 1rem 0;
    background-color: #edefef;
    outline: none;
    border: none;
    color: var(--background-color);
    border-radius: 2rem;
    transition: background-color .5s ease, color .5s ease, translate .5s ease, opacity 1s ease-in-out;
    opacity: 0;
    animation-delay: .6s;
}

#hero-button:hover {
    color: #edefef;
    background-color: rgb(56, 56, 56);
    translate: 0 -3px;
}

#hero-button:active {
    translate: 0 0px;
    background-color: rgb(93, 93, 93);
}

/* group */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    color: #edefef;
    width: 100%;
    border-bottom: var(--pemisah);
}

.main {
    font-family: perfectlynineties-bold-italic;
    letter-spacing: -0.02em;
}

.npc {
    font-family: montserrat-thin;
    font-size: clamp(.7rem, 1.2svw, 1.5svw);
    color: #edefef89;
}

.group-container {
    display: flex;
    flex-direction: column;
}

.group {
    width: 100%;
    padding: 2rem 0;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.column-group-container {
    display: flex;
    justify-content: flex-start;
    gap: 5svw;
    width: max-content;
    height: fit-content;
    margin: 0 5svw;
}

.column-group {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    width: 250px;
    flex: 0 0 250px;
    aspect-ratio: 3 / 2.6;
    padding: .6rem;
    font-size: .7rem;
    border-radius: 15px;
    overflow: hidden;
    color: rgb(51, 51, 51);

    background:
        radial-gradient(circle at 20% 30%, rgb(255, 255, 255) 0%, transparent 100%),
        radial-gradient(circle at 80% 20%, rgb(229, 229, 229) 0%, transparent 100%),
        radial-gradient(circle at 50% 80%, rgb(161, 161, 161) 0%, transparent 100%);

    box-shadow: 0px 0px 40px -17px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 40px -17px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 40px -17px rgba(255, 255, 255, 1);
}

.card-img-container {
    height: 70%;
    aspect-ratio: 3 / 2.6;
    border-radius: 5.4px;
    background-color: rgb(160, 160, 165);
    overflow: hidden;
}

.card-img {
    display: block;
    width: 100%;
    height: 100%;
    filter: contrast(.8);
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%;
    font-size: 0.7rem;
    letter-spacing: -1px;
    border-radius: .6rem;
    overflow: hidden;
}

.information p {
    font-family: montserrat-regular;
    font-size: clamp(.6rem, 1svw, 1svw);
    letter-spacing: -1px;
}

/* koleksi */
.koleksi {
    width: 100%;
    height: 100dvh;
}


/* animation */
/* hilang */
.hilang {
    animation: in-animation 2s ease-in-out forwards;
}

@keyframes in-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* scroll */
.scroll {
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* muncul */
.muncul {
    animation: muncul 1s ease-in-out forwards;
}

@keyframes muncul {

    0%,
    100% {
        translate: 0 0;
        filter: brightness(1);
    }

    50% {
        translate: 0 -5px;
        filter: brightness(2);
    }
}

/* sinar */
.sinar {
    animation: sinar 1s ease-in-out forwards;
}

@keyframes sinar {

    0%,
    100% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(2);
    }
}